:root{
 --blue-lagoon-text_color: #007185;
 --milano-red-text_color: #B12704;
 --ebony-clay-bg_color: #232f3e;
 --bunker-bg_color: #131921;
 --koromiko-btn_color: #febd69;
 --woodsmoke-text_color: #0F1111;
 --secondary_color: #565959;
 --alabaster-bg_color: #FAFAFA;
}


.box{
 border: 1px #D5D9D9 solid;
 border-radius: 8px;
 padding: 15px;
}
.small-box{
 border: 1px #D5D9D9 solid;
 border-radius: 2px;
 min-width: 185px;
 margin: 5px;
}
.small-box:hover{
 border: 1.1px #D0D0D0 solid;
}
.sub-title{
 font-size: 14px;
 line-height: 15px;
 font-weight: 700;
}

/***********BUTTONS**********/
.btn{
 position: relative;  
 cursor: pointer;
 min-width: 130px;
 background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
 margin: 5px;
 width: 100%;
 border-color: #ca7c1b #be751a #a56616;
 border-radius: 2px;
}
.btn2{
 position: relative;  
 cursor: pointer;
 min-width: 130px; 
 margin: 5px;
 width: 100%; 
 border-radius: 2px;
}
.icon{
 position: absolute;
 z-index: 40;
 border: 0;
}
.btnText{
 line-height: 29px;
 padding-left: 36px;  
 white-space: nowrap;
}
.btnText2{
 line-height: 29px;
 padding-left: 5px;  
 white-space: nowrap;
 float: left;  
 border-right: 1px #333 solid;
 min-width: calc(100% - 30px); 
}
.sprite02-icons{
 background-image:url('https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png');
 display: inline-block;
 width: 30px;
 height: 27px;
 top: 2px;
 left: 2px;
 position: absolute;
 vertical-align: top;
 background-repeat: no-repeat;
}
.sprite02-icons2{
 background-image:url('https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png');
 display: inline-block;
 width: 20px;
 height: 27px;
 top: 10px;
 left: calc(100% - 20px);
 position: absolute;
 vertical-align: top;
 background-repeat: no-repeat;
}
.sprite01-icons{
 background-image:url('https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png'); /*changable*/
 position: absolute;
 vertical-align: top;
 background-repeat: no-repeat;
}
/*add to cart*/
.full-cart-icon{ 
 background-position: -35px -5px;
}
/*buy now*/
.buy-now-icon{
 background-position: -35px -60px;  
}
/*add to list*/
.addToList{ 
 background-position: -5px -100px; 
}

/*orange button*/
.amazon-btn{
 background: #f0c14b;
 border-color: #a88734 #9c7e31 #846a29;
 color: #111;
 border: 1px solid #000;
 border-radius: 3px;
 padding: 2px 7px;
 height: 21px;
 margin-top: 4px;
}
.free{
 text-transform: uppercase;
}
.bold{
 font-weight: bold;
}
.caps{
 text-transform: capitalize;
}



/*social buttons*/
#mail{

}
#FB{
color:blue;
}
#tweeter{
 color: #007185;
}
#pinterest{
 color: red;
}

/*text colors, weight, bold*/
.blueLagon{
 color: var(--blue-lagoon-text_color);
 font-size: 1.4rem;
 font-weight: 600;
}
.milanoRed{
 color: var(--milano-red-text_color);
 font-size: 1.8rem;
 font-weight: 600;
}

 .weighted{
  font-weight: 700;
 }
 .bold{
  font-weight: bold;
 }
 /*borders*/
 .white-border:hover{
  border: 1px solid #fff;
  border-radius: 2px;
 }
 .orange-border-bottom_text:hover{
  color: #e47911;
  border-bottom: 2px solid #f90;
 }
 .border-buttom:hover{
  border-bottom: 1px solid #000;
  cursor: pointer;
 }

 .large-image{
  max-height: 475px;
    max-width: 618px;
 }

 .importAndShipping{
  font-size: 1.4rem;
  line-height: 2rem;
 }

.starsImg{
 max-width: 80px;
}




 .thead{
  width: 130px;
  font-size: 1.4rem;
 }